<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Finance Tracker{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
   <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="navbar">
            <h1 class="navbar-title">
                <a href="{{ url_for('welcome') }}" class="navbar-title-link">Finance Tracker</a>
            </h1>
            <nav>
                <ul class="navbar-links">
                    {% if current_user.is_authenticated %}
                        <li><a href="{{ url_for('logout') }}">Logout</a></li>
                    {% else %}
                        <li><a href="{{ url_for('login') }}">Login</a></li>
                        <li><a href="{{ url_for('signup') }}">Sign Up</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </header>
    <main>
        {% block content %}
        <!-- Content unique to each page goes here -->
        {% endblock %}

{#        {% with messages = get_flashed_messages(with_categories=true) %}#}
{#            {% if messages %}#}
{#                <ul class="flashes">#}
{#                    {% for category, message in messages %}#}
{#                    <li class="{{ category }}">{{ message }}</li>#}
{#                    {% endfor %}#}
{#                </ul>#}
{#            {% endif %}#}
{#        {% endwith %}#}

    </main>
    <footer>
        <p>&copy; 2024 Finance Tracker. All rights reserved. Made by Negar Pirasteh</p>
    </footer>


{#<script>#}
{#    // Auto-hide flash messages after 3 seconds#}
{#    document.addEventListener('DOMContentLoaded', function () {#}
{#        const flashes = document.querySelector('.flashes');#}
{#        if (flashes) {#}
{#            setTimeout(() => {#}
{#                flashes.style.display = 'none';#}
{#            }, 3000); // 3 seconds#}
{#        }#}
{#    });#}
{#</script>#}

</body>
</html>
